<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Validation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/form.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#"><i class="fas fa-certificate"></i> Certificate Validation</a>
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/feedback">feedback</a>
                <a href="/help">Help</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="validation-form">
            <a id="candidate_Data">{{caniddate_data}}</a>
            <h1>Certificate Validation</h1>
            <form id="validationForm">
                <div class="form-group">
                    <label for="candidateId">Candidate ID:</label>
                    <input type="text" id="candidateId" name="candidateId" required>
                </div>
                <div class="form-group">
                    <label for="certificateFile">Certificate File:</label>
                    <input type="file" id="certificateFile" name="certificateFile" accept=".pdf,.jpg,.png" required>
                </div>
                <button type="submit" class="btn">Validate Certificate</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; Certificate Validation System.</p>
    </footer>
    <script type="module" src="../static/js/form.js"></script>
</body>
</html>